@import url("https://fonts.googleapis.com/css?family=Lora:400,700|Roboto:300,400,700");

@import url("components/buttons.css");
@import url("components/container.css");
@import url("components/banner.css");
@import url("components/logo.css");
@import url("components/headers.css");
@import url("components/mail.css");


@media  {
  body {
  font-family: 'Netflix Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 25px;
  margin: 0px;
  background: url("image.fond1.jpg");
  background-size: cover;
  }
}
@media (max-width: 949px) {
  body {
  font-family: 'Netflix Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 20px;
  margin: 0px;
  background: url("image.fond1.jpg");
  background-size: cover;
  }
}
@media (max-width: 540px) {
  body {
  font-family: 'Netflix Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 17px;
  margin: 0px;
  background: url("image.fond1.jpg");
  background-size: cover;
  }
}

@media  {
  h1, h2 {
  font-family: 'Netflix Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: bold;
  color:white;
  text-align:left;
  font-size: 3.125rem;
  padding-left: 15px;  }
}
@media (max-width: 949px) {
  h1, h2 {
  font-family: 'Netflix Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: bold;
  color:white;
  text-align:center;
  font-size: 1.625rem;;
  padding-left: 15px;  }

}
@media (max-width: 540px) {
  h1, h2 {
  font-family: 'Netflix Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: bold;
  color:white;
  text-align:center;
  font-size: 1.125rem;;
  padding-left: 10px;  }
}
@media  {
  h3 {
  color: white;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  text-align:center
  }
}
@media (max-width: 949px) {
  h3 {
  color: white;
  font-size: 17px;
  font-family: 'Roboto', sans-serif;
  text-align:center
  }
}
@media (max-width: 540px) {
   h3 {
  color: white;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  text-align:center
  }
}
@media  {
  p {
  color: white;
  font-size:1.625rem;
  text-align:left;
  font-family: 'Netflix Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding-left:15px;
  padding-top: 35px;
  }
}
@media (max-width: 949px) {
  p {
  color: white;
  font-size:1.25rem;
  text-align:center;
  font-family: 'Netflix Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding-left:15px;
  padding-top: 30px;
  }
}
@media (max-width: 540px) {
  p {
  color: white;
  font-size:1.125rem;
  text-align:center;
  font-family: 'Netflix Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding-left:15px;
  padding-top: 30px;
  }
}
hr.solid {
  border-top: 5px solid #bbb;
  background-color: black;
  padding: 0px;
}
li {
  color: transparent;
  font-size: 15px;
  text-align: left;
  padding-left: 0px;
}
.img-responsive {
  max-width: 100%;
  height: auto;
  display: block;
}

